@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Myanmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body{
	width: 1366px;
	margin: 0;
	cursor: pointer;
}

.container{
	display: flex;
	position: absolute;
	height: 500px;
	overflow-x:hidden; 
	


	/*-moz-transform: translateX(100%);*/
    /*-webkit-transform: translateX(100%);*/
    transform: translateX(100%);
    /*-moz-animation: scroll-left 2s linear infinite;*/
    /*-webkit-animation: scroll-left 2s linear infinite;*/
    animation: scroll-left 60s linear infinite;


}

 @keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }



.dq{
	color: #22d1ee;
	fill: currentColor;
}

.box{
	font-family: 'Noto Serif Myanmar', serif;
	color: #0c121c;
	font-size: 13px;
	width: 350px;
	height: 300px;
	position: relative;
	line-height: 22px;
	background-color: #e2f3f5;
	margin: 20px;

}

/*@-moz-keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
            }
        }*/
        
       /* @-webkit-keyframes scroll-left {
            0% {
                -webkit-transform: translateX(100%);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }*/
        
       

.box:hover{
	transform: rotate(-2deg);
}

.rm{
	padding:5px;
}



.outid img{
	border-radius: 50%;
	border: 5px solid white;
	margin-left: 10px;
	margin-top: 5px;
}

.outid{
	background-color: #22d1ee;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.outid p{
	font-family: 'Kanit', sans-serif;
	font-weight: bold;
	color: white;
	display: block;
	position: absolute;
	margin-left: 120px;
	margin-top: -80px;
}

